{% extends "base.html" %}

{% block titulo %}Home{% endblock %}
        
{% block conteudo %}
<div>
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
    
    <form action="/criar/post/" method="post">
        {% csrf_token %}

        <label for="titulo">Titulo:</label>
        <input type="text" name="titulo">

        <label for="conteudo">Conteudo:</label>
        <textarea name="conteudo" id="conteudo" cols="30" rows="10"></textarea>

        <br>

        <button>Enviar</button>
    </form>
</div>
{% endblock %}