{% extends "base.html" %}

{% block titulo %}Login{% endblock %}

{% block conteudo %}
<div>
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}

    <form action="/login/" method="post">
        {% csrf_token %}
        <label for="usuario">User:</label>
        <input type="text" name="usuario">

        <label for="senha">Password:</label>
        <input type="password" name="senha" id="senha">

        <br>

        <button>Logar</button>
    </form>
</div>
{% endblock %}